:root {
    --bg-color: linear-gradient(to right, #e2e2e2, #c9d6ff);
    --inverted-bg-color: #090949;
    --primary-color: #000;
    --secondary-color: #0452ff;
    --inverted-primary-color: #6b4acb;
    --inverted-secondary-color: #049604;
}
